{% extends "tasks/layout.html" %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block body %}
    <div class="bg"></div>
    <div class="d-flex justify-content-center align-items-center vh-100 mt-n4">
        <div class="text-center w-100">
            <h4 class="mb-2 text-light" style="padding: 5px">Sign Up Now And Start Optimizing Your Life.</h4>
            <form action="{% url 'register' %}" method="post" class="mx-auto p-4 border rounded dark-form" style="max-width: 400px; width: 100%;">
                {% csrf_token %}
                <div class="form-group mb-3 text-start">
                    <label for="Username" class="text-light">Username:</label>
                    <input type="text" class="form-control dark-input" id="Username" name="username" required>
                </div>
                <div class="form-group mb-3 text-start">
                    <label for="Email" class="text-light">Email:</label>
                    <input type="email" class="form-control dark-input" id="Email" name="email" required>
                </div>
                <div class="form-group mb-3 text-start">
                    <label for="Password" class="text-light">Password:</label>
                    <input type="password" class="form-control dark-input" id="Password" name="password" required>
                </div>
                <div class="form-group mb-3 text-start">
                    <label for="Confirmation" class="text-light">Confirm Password:</label>
                    <input type="password" class="form-control dark-input" id="Confirmation" name="confirmation" required>
                </div>
                {% if message %}
                    <small class="text-danger">{{ message }}</small>
                {% endif %}
                <button type="submit" class="btn btn-primary w-100 btn-submit">Sign Up</button>
            </form>
            <small class="text-muted">Account Already Created? <a href="{% url 'login' %}" style="position: relative; z-index: 1;">Log In Now</a></small>
        </div>
    </div>
{% endblock body %}
